body {
    font-family: Manrope;
    margin: 0;
    background-color: #e5e5e5;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
header {
    height: 667px;
    background-origin: border-box;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('../assets/images/banner.png');
    background-repeat: no-repeat;
}
header h1 {
    text-align: center;
    color: #ffd15b;
    font-size: 44px;
    margin-top: 150px;
    width: 900px;
}
header input {
    width: 950px;
    height: 75px;
    border-radius: 11px;
    padding-left: 35px;
}
header input::placeholder {
    color: #7a7a7a;
    font-size: 16px;
    font-family: Manrope;
}
.headerContent_wrapper {
    height: 100%;
    padding: 75px;
    box-sizing: border-box;
}
.headerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search-bar_wrapper {
    display: flex;
}

main {
    padding: 0 75px 0 75px;
}
h1,
h2 {
    font-family: Anton;
}
#search::-webkit-search-cancel-button {
    position: relative;
    right: 75px;
    -webkit-appearance: none;
    height: 1.5em;
    width: 1.5em;
    background-image: url('../assets/icons/close.svg');
    background-size: contain;
}
#research_ico {
    padding: 0;
    border: none;
    background: none;
    transform: translateX(-60px);
}
.research_ico {
    transform: translate(-40px, 6px);
}
.tagSearch {
    display: flex;
    flex-direction: row;
}
#banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0 30px 0;
}
.filterContainer {
    width: 60%;
}
#recipeCount {
    display: flex;
    font-size: 21px;
    font-family: Anton;
    font-weight: 400;
}
#recipeCount p {
    margin-left: 5px;
}
#filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
#activeFilters {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#activeFilters div {
    margin-right: 20px;
}
.dropdown-hide {
    display: none;
}
.dropdownBtn {
    background-color: white;
    border-radius: 12px;
    width: 200px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
}

.dropdownContent {
    position: absolute;
    width: 200px;
    z-index: 1;
    background-color: white;
    /*  background-color: red; */
    border-radius: 11px;
    position: absolute;
    transform: translateY(-20px);
    max-height: 315px;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.dropdownContent::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.dropdownContent input {
    margin: 25px 15px 15px 15px;
    border: 1px #c6c6c6 solid;
    border-radius: 2px;
    height: 30px;
}
.dropdownContent input::-webkit-search-cancel-button {
    position: relative;
    right: 25px;
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    background-image: url('../assets/icons/close_light.svg');
    background-size: contain;
}
.dropdownContent p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 0;
}
.dropdownContent p:hover {
    background-color: #ffd15b;
}
.tagOption_active {
    background-color: #ffd15b;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.selectedTag {
    background-color: #ffd15b;
    box-sizing: border-box;
    /*  width: 195px; */
    width: 200px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    padding: 0 20px 0 20px;
}
.selectedTag img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.recipesListe {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.recipeCard {
    width: 380px;
    height: 731px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 50px;
}
.recipeCard img {
    object-fit: cover;
    width: 380px;
    height: 253px;
    border-radius: 10px 10px 0 0;
}
.recipeCard h2 {
    font-size: 18px;
    font-weight: 800;
}
.recipeCard h3 {
    color: #7a7a7a;
    font-size: 12px;
    font-weight: 700;
    margin: 25px 0 20px 0;
}
.recipeCard h3 {
    color: #7a7a7a;
    font-size: 12px;
    font-weight: 700;
}
.recipeCard p {
    font-size: 14px;
}
.recipeDetail {
    padding: 0px 10px 20px 10px;
}
.recipeDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
    height: 76px;
    width: 330px;
    line-height: 19px;
    font-weight: 400;
}
.card_insert {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffd15b;
    border-radius: 10px;
    position: relative;
    top: -225px;
    left: calc(100% - 100px);
    height: 26px;
    width: 63px;
}
.ingredientList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}
.ingredientList div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ingredientList p {
    margin: 0;
}
.ingredient_name {
    font-weight: 500;
}
.ingredient_qty {
    color: #7a7a7a;
}
.hidden {
    display: none !important;
}
.test {
    background-color: #ffd15b;
}
